.pictureButton{
    float: left;
    height: 50px;
    width: 50px;
}

.pictureButtonArea{
    float: left;
    margin-left: -50px;
    padding-right: 5px;
}

.pictureArea{
    float: left;
    padding-top: 3px;
}